@charset "utf-8";


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

h1{
	text-align: center;
	color: white;
	background: black;
	padding: 15px;
	font-size: 2.5em;
}

h2{
	background: white;
	color: #eb1d22;
	margin: 0 auto;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}

#slide{
	position: relative;
	width: 90%;
	height: 500px;
	margin: 10px auto;
	text-align: center;
	max-width: 800px;
	overflow: hidden;
}
#fotos{
	position: relative;
	width: 100%;
	height: 100%;
}
.foto{
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	opacity: 0;
	transition: opacity 0.8s ease-in-out; 
}

.foto.active{
	opacity: 1;
}

.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	border: none;
	font-size: 25px;
	cursor: pointer;
	border-radius: 5px;
	color: #eb1d22;
	background: #2a2a2a;
}
.prev{ left: 10px; }
.next{ right: 10px }

.btn:focus{
	outline: 2px solid #eb1d22;
  outline-offset: 2px;
}

#indicadores {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicador {
  width: 12px;
  height: 12px;
  background: #ffffff90;
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  cursor: pointer;
  transition: 0.3s;
}

.indicador.active {
  background: #eb1d22;
  transform: scale(1.2);
}

#apresentacao, #formulario{
	width: 100%;
	max-width: 900px;
	margin: 20px auto;
}

#formulario p, #apresentacao p{
	background: white;
	color: #2a2a2a;
	padding: 20px;
	text-align: justify;
	width: 100%;
}

#apresentacao ul{
	list-style: none;
	margin: 0 auto;
	width: 80%;
}
#apresentacao ul li{
	background: #2a2a2a;
	padding: 10px;
	color: white;
	font-size: 0.8em;
	border-left: 5px solid #eb1d22;
	transition: 0.8s;
}
#apresentacao ul li:hover{
	margin-left: -20px;
	background: #eb1d22;
}

#formulario{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
#form{
	margin: 30px auto;
	display: flex;
	width: 70%;
	max-width: 500px;
	flex-flow: column wrap;
	gap: 15px;
}
#form input{
	border: none;
	border-bottom: 2px solid #eb1d22;
	padding: 5px;
	font-size: 0.9em;
	transition: 0.2s;
	border-radius: 5px;
}
#form input:focus, #form textarea:focus{
	outline: none;
	border-bottom: 3px solid #a71518;
}
#form textarea{
	border: 2px solid #eb1d22;
	resize: none;
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
}

#botoes{
	text-align: center;
}
#botoes input{
	background: #2a2a2a;
	padding: 5px;
	border: none;
	color: white;
	transition: 0.5s;
	text-transform: uppercase;
	font-size: 0.8em;
	border-radius: 2px;
}
#botoes input:hover{
	background: #a71518;
}

footer{
	width: 100%;
	text-align: center;
	background: black;
	color: white;
	padding: 10px;
}
footer p{
	max-width: 800px;
	margin: 10px auto;

}
footer a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
}
footer a:hover{
	text-decoration: underline;
}

@media (max-width: 600px){
	#slide{
		height: 300px;
	}
}